main.exe
main
.main
.idea
*.slo
*.lo
*.so
*.dylib
*.dll
result
.github/copilot-instructions.md
git.github_token
*.exe
*.html
!internal/webui/static/index.html
*.txt
stardf-anime
zip_contents/
stardf-anime.exe
all_files.txt
